*{
        margin:0;
        padding:0;
        background:#000;
}

.header
{
	border: 1px solid blue;
	width:100%;
	height: 60px;
	background-color: red;
}

.conteudo
{
	min-height: 550px;
	background-color: #000;
	border:1px solid yellow;
	margin-top:30px;
	width:90%;
	margin:auto;
}

.footer
{
	position:absolute;
	bottom:0;
	width:100%;
	border:0px solid green;
	height: 70px;
	background: #000 url("imagens/firee.jpg");
	
	/*OPACIDADE*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /*OPACIDADE NO IE antigos*/
	filter: alpha(opacity=35); /*OPACIDADE NO IE 8+*/
	opacity:0.35; /*OPACIDADE NORMAL*/
	-moz-opacity: 0.35; /*OPACIDADE MOZILA*/
	
	
	}
